* {
    margin: 0; /* Set maring to 0px for page */
    padding: 0; /* Set padding to 0 for page */
}

.container {
    width: 90vw;
    margin: auto;
    padding: 50px 75px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-container li {
    display: inline;
    margin: 0 15px;
}

.nav-container a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-weight: bold;
}

.nav-container a:hover {
    color:rgba(0, 0, 0, .5);
}